
<p>Nieprzypisani użytkownicy:</p>
<div class="user-trash">
    @for (item of usersNotInTask; track $index){
    <div class="list-user">
      <p style="padding-right: 10px;">{{item.firstName}} {{item.lastName}}</p>
      <div class="lonly-trash">
        <button 
        (click)="przypiszUsera(item.id, taskId)" 
        type="button" 
        class="dangernew btn btn-info"> 
          +
        </button>
      </div>
    </div>
    }
</div>
<div class="dropdown-divider" ></div>  
<p>Przypisani użytkownicy:</p>
@for (item of usersInTask; track $index) {
  <div class="list-user">
  <p style="padding-right: 10px; padding-top: 10px;">{{item.firstName}} {{item.lastName}}</p>
  <button
  (click)="usunUsera(item.id, taskId)"
   type="button" style="width: 35px;"
   class="btn btn-warning">
    -
  </button>
  </div>
}
