.button-two {
    padding-top: 10px;
    padding-left: 5px;
    display: flex;
    flex-direction: column;
}

.input-textv2 {
    border: none;
    outline: none;
    height: 36px;
    margin-left: 11px;
    width: 262px;
    border-bottom: 2px solid #ccc;
    font-weight: normal;
    border-top-left-radius: 5px; /* Zaokrągla lewy górny róg */
    border-top-right-radius: 5px; /* Zaokrągla prawy górny róg */
}
.input-textv2:focus {
    border-bottom-color: #f1e509;
    border-bottom-width: 2px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
