<div
  cdkDropList
  [id]="card.id.toString()"
  [cdkDropListData]="card.tasks"
  (cdkDropListDropped)="drop($event)"
  class="overflow-auto task-container example-list overflow-x-hidden"
>
  @for (task of sortedListOfTasks; track task.id) {
    <div
      class="task"
      style="display: flex"
      [ngStyle]="{ 'background-color': task.color }"
      cdkDrag
      [cdkDragData]="[card, task]"
    >
      <div class="task-context-container">
        <div class="tekst-zadan">
          <input
            class="color-task"
            [value]="task.color"
            #colorValue
            type="color"
            (change)="zmianaKolorTaska(task.id, colorValue.value)"
          />
          <p>{{ task.name }}</p>
        </div>
        <div class="podzadanie">
          <app-sub-task [subTasks]="task.subTasks" [task]="task"></app-sub-task>
        </div>
        <div class="przycisk-do-edycji">
          <button
            type="button"
            class="btn btn-primary"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            <i class="bi bi-pen-fill"></i>
          </button>
          <ul class="dropdown-menu" style="width: 280px">
            <li>
              <input
                #zmianataska
                (keyup.enter)="zmianaNazwyTaska(task.id, zmianataska.value)"
                type="text"
                class="input-textv3"
                placeholder="Wpisz nazwe"
                style="padding-left: 7px; margin-right: 5px"
              />
              <button
                (click)="zmianaNazwyTaska(task.id, zmianataska.value)"
                type="button"
                class="btn btn-light"
              >
                <i class="bi bi-plus-circle"></i>
              </button>
            </li>
          </ul>

          <button
            (click)="usunTask(task.id, card.id)"
            type="button"
            class="btn btn-danger"
          >
            <i class="bi bi-trash-fill"></i>
          </button>

          <button
            type="button"
            class="btn btn-success"
            data-bs-toggle="dropdown"
            aria-expanded="false"
            data-bs-auto-close="outside"
          >
            <i class="bi bi-people-fill"></i>
          </button>
          <div class="dropdown-menu p-4">
            <app-list-of-users-not-in-task
              [allUsers]="allUsers"
              (refreshParent)="fetchCard()"
              [taskId]="task.id"
              [task]="task"
            >
            </app-list-of-users-not-in-task>
          </div>

          <div class="circle-name" style="font-weight: 500">
            @if (task.useers.length > 2) {
              @for (item of task.useers; track $index) {
                @if ($index == 2) {
                  <div class="small-circle">{{ task.useers.length - 2 }}+</div>
                } @else if ($index < 2) {
                  <div
                    [style.background-color]="item.color"
                    class="small-circle"
                  >
                    {{ item.firstName[0].toUpperCase()
                    }}{{ item.lastName[0].toUpperCase() }}
                  </div>
                }
              }
            } @else {
              @for (item of task.useers; track $index) {
                <div [style.background-color]="item.color" class="small-circle">
                  {{ item.firstName[0].toUpperCase()
                  }}{{ item.lastName[0].toUpperCase() }}
                </div>
              }
            }
          </div>
        </div>
      </div>
    </div>
  }
</div>
