<div class="kanban-board">
    <div class="column">
        <h2>To Do</h2>
        <div class="task">
            <div class="tekst-zadan">
                Task 1
            </div> 
            <div class="przycisk-do-edycji"> 
                <button type="button" class="btn btn-outline-info">
                    <i class="bi bi-pencil"></i>
                </button>
        
            
                <button type="button" class="btn btn-outline-danger">
                    <i class="bi bi-trash"></i>
                </button>
            </div>
    

        </div>
        <div class="task">Task 2</div>
        <button type="button" class="btn btn-outline-success"><i class="bi bi-plus-lg"></i>Dodaj zadanie</button>
        <!-- Add more tasks here -->
    </div>
    <div class="column">
        <h2>In Progress</h2>
        <!-- Tasks in progress go here -->
    </div>
    <div class="column">
        <h2>Done</h2>
        <!-- Completed tasks go here -->
    </div>
</div>
