<div class="kanban-board">
    @for (card of data; track card.id) {
    <div class="column">
        <div class="naglowek">
            <h2>{{ card.name }}</h2>
            <p> limit 0/2 </p>
            

        </div>
            <hr>
        @for (task of card.tasks; track task.id) {
            <div class="task">
                <div class="tekst-zadan">
                    <p>{{ task.name }}</p>
                </div> 
                <div class="przycisk-do-edycji"> 
                    <button type="button" class="btn btn-info">
                        <i class="bi bi-pencil-fill"></i>
                    </button>
                    <button type="button" class="btn btn-danger">
                        <i class="bi bi-trash-fill"></i>
                    </button>
                </div>
            </div>
        }
        <div class="dodawanieTaska">
            <input type="text" #box (keyup.enter)="onEnter(box.value, card.id)" class="input-text" placeholder="Wpisz nazwe" style="padding-left: 7px; margin-right: 5px;">
            <button type="button" (click)="onEnter(box.value, card.id)" class="btn btn-outline-success"><i class="bi bi-plus-lg"></i>Dodaj zadanie</button>
        </div>
    </div>
}
</div>