<div class="kanban-board">
    <div class="button-two">
        
        <button type="button" class="btn btn-warning" style="border-radius: 10px; margin-bottom: 10px;"  data-bs-toggle="dropdown" aria-expanded="false">
            <i class="bi bi-file-earmark-plus-fill" ></i>
        </button >
        <ul  class="dropdown-menu">
            <li>
            <input #dodawanieKarty (keyup.enter)="dodajKarte(dodawanieKarty.value)" type="text" class="input-textv2" placeholder="Wpisz nazwe" style="padding-left: 7px; margin-right: 5px; ">
            <button (click)="dodajKarte(dodawanieKarty.value)" type="button" class="btn btn-light">
                <i class="bi bi-plus-circle"></i>
            </button>
            </li>
        </ul>
       
        
        <button type="button"  class="btn btn-secondary" style="margin-bottom: 10px;" data-bs-toggle="dropdown" aria-expanded="false">
            <i class="bi bi-building-fill-add"></i>
        </button>
        <ul  class="dropdown-menu">
            <li>
            <input #dodawanieWiersza (keyup.enter)="dodajWiersz(dodawanieWiersza.value)" type="text" class="input-textv2" placeholder="Wpisz nazwe" style="padding-left: 7px; margin-right: 5px; ">
            <button (click)="dodajWiersz(dodawanieWiersza.value)" type="button" class="btn btn-light">
                <i class="bi bi-plus-circle"></i>
            </button>
            </li>
        </ul>
    
       
    </div>
    
  

        <div class="part-board overflow-x-auto">
            
            
        <div class="tablica-kolumn ">
        @for (card of data; track card.id) {
            <div class="column" [ngStyle]="{ 'border': (card.tasks.length > card.maxTasksLimit && card.maxTasksLimit !== -1) ? '3px solid red' : '3px solid transparent' }"  >
                <div class="naglowek">
                    
                    <h2 style="width: 100%; padding-bottom: 10px; padding-right: 20px;">{{ card.name }}</h2>
                    
                    @if (card.name == "To do" || card.name == "Done") {
                        <div style="display: flex; justify-content: space-between; width: 100%;">
                            <div class="button-group-container">
                                <div class="wip-limit-text" style="width: 100px;">
                                    <p style="padding-bottom: 10px; padding-top: 5px;">{{ card.tasks.length}}</p>
                                </div>
                                <div class="button-group">
                                    <button (click)="usunKarte(card.position, card.name)" disabled type="button" class="btn btn-danger" style="margin-left: 40px; margin-top: -5px;">
                                        <i class="bi bi-trash-fill"></i>
                                    </button>
                                    
                                </div>
                            </div>
                        </div>
                    }@else {
                        <div style="display: flex; justify-content: space-between; width: 100%;">
                            
                            <div class="button-group-container" >
                            <div class="wip-limit-text" style="width: 100px;">
                                <p>{{card.tasks.length}} /<input #limit (keyup.enter)="changeLimit(card.id, limit.value, card.maxTasksLimit)" class="wip-limit-number" [value]="card.maxTasksLimit" type="number" [placeholder]="card.maxTasksLimit">
                                 </p>
                            </div>
                            <div class="button-group" style="margin-left: 70px;">
                                <button type="button" class="btn btn-primary" data-bs-toggle="dropdown" aria-expanded="false">
                                    <i class="bi bi-pen-fill"></i>

                                </button>
                                    <div class= " przycisk-do-sortowania">
                                <button class="btn btn-info" type="button" data-bs-toggle="dropdown" aria-expanded="false" >
                                    <i class="bi bi-three-dots-vertical"></i>
                                </button>
                                <ul class="dropdown-menu dropdown-menu-dark">

                                    <p class="naglowek-do-przyciskuv2" style="margin-left: 10px;">Przenieś za:</p>
                                    @for (cardy of data; track cardy.id) {
                                        
                                        @if(cardy.name != "Done"){
                                            @if(cardy.id!= card.id){
                                            @if(cardy.name == "To do"){
                                                <li><a (click)="przesunKarte(card.position, cardy.position+1)" class="dropdown-item">
                                                    {{ cardy.name }}</a></li>
                                            }@else {
                                                <li><a (click)="przesunKarte(card.position, cardy.position)" class="dropdown-item">
                                                    {{ cardy.name }}</a></li>
                                            }
                                           
                                            }
                                        }
                                        
                                    }
                                </ul>
                                     </div>
                                <ul class="dropdown-menu">
                                    <li>
                                    <input #zmianakarty (keyup.enter)="zmainaNazwyKarty(card.id, zmianakarty.value)" type="text" class="input-textv3" placeholder="Wpisz nazwe" style="padding-left: 7px; margin-right: 5px;">
                                    <button (click)="zmainaNazwyKarty(card.id,zmianakarty.value)" type="button" class="btn btn-light"><i class="bi bi-plus-circle"></i>
                                    </button>
                                    </li>
                                </ul>
                                
                                <button (click)="usunKarte(card.position, card.name)" type="button" class="btn btn-danger" style="margin-left: 5px;">
                                    <i class="bi bi-trash-fill"></i>
                                </button>
                            </div>
                        </div>
                        </div>

                    }
                </div>
                    <hr>
                <div >
                    <div 
                    cdkDropList 
                    [id] = "card.id.toString()"
                    [cdkDropListData]="card.tasks"
                     class="example-list" 
                     (cdkDropListDropped)="drop($event)"
                    class="overflow-auto" style="height: 340px;">
                        @for (task of card.tasks; track task.id) {
                            <div class="task" cdkDrag [cdkDragData]="[card, task]">
                                <div class="tekst-zadan">
                                    <p>{{ task.name }}</p>
                                </div>
                                <div class="przycisk-do-edycji">
                                    <div class="button-groupv2" >
                                        <button type="button" class="btn btn-primary" data-bs-toggle="dropdown" aria-expanded="false">
                                            <i class="bi bi-pen-fill"></i>
        
                                        </button>
                                        <ul class="dropdown-menu" style="width: 280px;" >
                                            <li>
                                            <input #zmianataska (keyup.enter)="zmianaNazwyTaska(task.id, zmianataska.value)" type="text" class="input-textv3" placeholder="Wpisz nazwe" style="padding-left: 7px; margin-right: 5px;">
                                            <button (click)="zmianaNazwyTaska(task.id,zmianataska.value)" type="button" class="btn btn-light"><i class="bi bi-plus-circle"></i>
                                            </button>
                                            </li>
                                        </ul>

                                    <button (click)="usunTask(task.id, card.id)" type="button" class="btn btn-danger">
                                        <i class="bi bi-trash-fill"></i>
                                    </button>
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                    <div class="dodawanieTaska">
                        <input type="text" #box (keyup.enter)="onEnter(box.value, card.id)" class="input-text" placeholder="Wpisz nazwe" style="padding-left: 7px; margin-right: 5px;">
                        <button type="button" (click)="onEnter(box.value, card.id)" class="btn btn-success">
                            <i class="bi bi-plus-circle-fill"></i>
                        </button>
                    </div>
                    
                </div>
                
            </div>
        }
        
        
    </div>

    <div>
        
        
        @if(dlugoscListyRows > 1){
            @for(row of allRows; track $index){
                @if(row.position != 0 ){



                
                <button (click)="przeniesGora(row.id)" class="btn newinfo btn-info" type="button" style="margin-bottom: 10px;">
                    <i class="bi bi-arrow-up-circle-fill"></i>
                </button>
                <button type="button"  class="btn btn-secondary" style="margin-bottom: 10px;" data-bs-toggle="dropdown" aria-expanded="false">
                    <i class="bi bi-pen-fill"></i>
                </button>
                <ul  class="dropdown-menu">
                    <li>
                    <input #renameRowText (keyup.enter)="renameRow(row.id, renameRowText.value)" type="text" class="input-textv2" placeholder="Wpisz nazwe" style="padding-left: 7px; margin-right: 5px; ">
                    <button (click)="renameRow(row.id, renameRowText.value)" type="button" class="btn btn-light">
                        <i class="bi bi-plus-circle"></i>
                    </button>
                    </li>
                </ul>





                <app-board [rowId] = "row.id" [allRows]="allRows"></app-board>
            }
            }
        }
        
    </div>
      </div>
      
      
      
      
</div>
