<div class="kanban-board">
    <div class="btn-group dropup">
        <button type="button" class="btn btn-warning" style="border-radius: 15px;" data-bs-toggle="dropdown" aria-expanded="false">
            <i class="bi bi-file-earmark-plus-fill" ></i>
        </button>
        <ul class="dropdown-menu">
            <li>
            <input #dodawanieKarty (keyup.enter)="dodajKarte(dodawanieKarty.value)" type="text" class="input-textv2" placeholder="Wpisz nazwe" style="padding-left: 7px; margin-right: 5px;">
            <button (click)="dodajKarte(dodawanieKarty.value)" type="button" class="btn btn-light">
                <i class="bi bi-plus-circle"></i>
            </button>
            </li>
        </ul>
      </div>
      <div class="tablica-kolumn overflow-x-auto">
        @for (card of data; track card.id) {
            <div class="column" [ngStyle]="{ 'border': (card.tasks.length > card.maxTasksLimit && card.maxTasksLimit !== -1) ? '3px solid red' : '3px solid transparent' }"  >
                <div class="naglowek">
                    <h2 style="width: 100%; padding-bottom: 5px;">{{ card.name }}</h2>

                    @if (card.name == "To do" || card.name == "Done") {
                        <div style="display: flex; justify-content: space-between; width: 100%;">
                            <div class="button-group-container" style="margin-top: 0px;">
                                <div class="wip-limit-text" style="width: 100px;">
                                    <p>{{ card.tasks.length }}</p>
                                </div>
                                <div class="button-group">
                                    
                                    <button (click)="usunKarte(card.id)" disabled type="button" class="btn btn-danger" style="margin-left: 40px; margin-top: -10px;">
                                        <i class="bi bi-trash-fill"></i>

                                    </button>
                                    
                                </div>
                            </div>
                        </div>
                    }@else {
                        <div style="display: flex; justify-content: space-between; width: 100%;">
                            <div class="button-group-container">
                            <div class="wip-limit-text" style="width: 100px;padding-top: 10px">
                                <p> {{ card.tasks.length }} / </p>
                                <input #limit (keyup.enter)="changeLimit(card.id, limit.value, card.maxTasksLimit)" class="wip-limit-number" [value]="card.maxTasksLimit" type="number" [placeholder]="card.maxTasksLimit">
                            </div>
                            <div class="button-group" style="margin-left: 80px;">
                                <button type="button" class="btn btn-primary" data-bs-toggle="dropdown" aria-expanded="false">
                                    <i class="bi bi-pen-fill"></i>

                                </button>
                                    <div class= " przycisk-do-sortowania">
                                <button class="btn btn-info" type="button" data-bs-toggle="dropdown" aria-expanded="false" >
                                    <i class="bi bi-three-dots-vertical"></i>
                                </button>
                                <ul class="dropdown-menu dropdown-menu-dark">

                                    <p class="naglowek-do-przyciskuv2" style="margin-left: 10px;">Przenieś między:</p>
                                    @for(cardy of data; track $index){
                                        @if($index !=0){
                                            <div class="przeniesienie">
                                                <li ><a class="dropdown-item"  href="#"> {{$index}}</a></li>
                                            </div>
                       
                                        }
                                    }
                                    
                                </ul>
                                     </div>
                                <ul class="dropdown-menu">
                                    <li>
                                    <input #zmianakarty (keyup.enter)="zmainaNazwyKarty(card.id, zmianakarty.value)" type="text" class="input-textv3" placeholder="Wpisz nazwe" style="padding-left: 7px; margin-right: 5px;">
                                    <button (click)="zmainaNazwyKarty(card.id,zmianakarty.value)" type="button" class="btn btn-light"><i class="bi bi-plus-circle"></i>
                                    </button>
                                    </li>
                                </ul>
                                
                                <button  type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#exampleModal">
                                    <i class="bi bi-trash-fill"></i>
                                    
                                </button>
                                <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                    <div class="modal-dialog">
                                      <div class="modal-content">
                                        <div class="modal-header">
                                          <h1 class="modal-title fs-5" id="exampleModalLabel">Czy chcesz usunąć kartę?</h1>
                                          <button  type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                        </div>
                                        <div class="modal-footer">
                                          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" >NIE</button>
                                          <button   (click)="usunKarte(card.id)" type="button"  class="btn btn-danger" data-bs-dismiss="modal">TAK</button >     
                                        </div>
                                      </div>
                                    </div>
                                  </div>        
                            </div>
                        </div>
                        </div>
                    }
                </div>
                    <hr>
                <div style="height: 30vh;">
                    <div class="overflow-auto" style="height: 370px;">
                        @for (task of card.tasks; track task.id) {
                            <div class="task">
                                <div class="tekst-zadan">
                                    <p>{{ task.name }}</p>
                                </div>
                                <div class="przycisk-do-edycji">
                                    <div class="button-groupv2" >
                                        <button type="button" class="btn btn-primary" data-bs-toggle="dropdown" aria-expanded="false">
                                            <i class="bi bi-pen-fill"></i>
        
                                        </button>
                                        <ul class="dropdown-menu" style="width: 310px;" >
                                            <li>
                                            <input #zmianataska (keyup.enter)="zmianaNazwyTaska(task.id, zmianataska.value)" type="text" class="input-textv3" placeholder="Wpisz nazwe" style="padding-left: 7px; margin-right: 5px;">
                                            <button (click)="zmianaNazwyTaska(task.id,zmianataska.value)" type="button" class="btn btn-light"><i class="bi bi-plus-circle"></i>
                                            </button>
                                            </li>
                                        </ul>
                                    
                                        <button class="btn btn-info" type="button"data-bs-toggle="dropdown" aria-expanded="false">
                                            <i class="bi bi-three-dots-vertical"></i>
                                        </button>
                                        <ul class="dropdown-menu dropdown-menu-dark">
                                            <p class="naglowek-do-przycisku">Przenieś do:</p>
                                            @for (cardy of data; track cardy.id) {
                                                <li><a (click)="przesTask(card.id, task.id, cardy.id)" class="dropdown-item">
                                                    {{ cardy.name }}</a></li>
                                            }
                                        </ul>

                                    <button (click)="usunTask(task.id, card.id)" type="button" class="btn btn-danger">
                                        <i class="bi bi-trash-fill"></i>
                                    </button>
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                    <div class="dodawanieTaska">
                        <input type="text" #box (keyup.enter)="onEnter(box.value, card.id)" class="input-text" placeholder="Wpisz nazwe" style="padding-left: 7px; margin-right: 5px;">
                        <button type="button" (click)="onEnter(box.value, card.id)" class="btn btn-success">
                            <i class="bi bi-plus-circle-fill"></i>
                        </button>
                    </div>
                    
                </div>

            </div>
        }
      </div>
      

</div>
