body {
    font-family: Arial, sans-serif;
    background-color: #f6f6f6;
}

.kanban-board {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: flex-start;
}

.column {
    height: 450px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding: 10px;
    margin: 10px 5px 15px 15px;
    width: 340px;
    position: relative;
   // padding-bottom: 20px;
}

.column h2 {
    font-size: 30px;
    margin-bottom: 18px;
    margin-left: 5px;
}

.task {
    background-color: #f0f0f0;
    padding: 8px;
    margin-bottom: 12px;
    border-radius: 10px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    align-content: flex-start;
}

.btn-danger {
    margin-left: 5px;
    color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 10px;
}

.btn-warning{
    position: fixed; 
    left: 40px;
    bottom: 40px; 
    padding: 10px;
    font-size: 30px;
    width: 60px;
    height: 60px;
    line-height: 40px;
    color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 10px;
}
.btn-info{
    color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 10px;
    
}
.btn-success {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 10px;
    margin-left: 5px;
    
}
.input-text {
    border: none;
    border-bottom: 2px solid #ccc;
    outline: none;
    height: 36px;
    width: 50%;
    font-weight: normal;
    border-top-left-radius: 5px; /* Zaokrągla lewy górny róg */
    border-top-right-radius: 5px; /* Zaokrągla prawy górny róg */
    margin-bottom: 10px; /* Dodaj margines na dole dla odstępu między polem tekstowym a przyciskiem */
    
  }
  
  .input-text:focus {
    border-bottom-color: #2ca611;
    border-bottom-width: 2px;
  }
  
  .wip{
    margin-left: 10px;
  }
  .input-textv2{
    border: none;
    outline: none;
    height: 36px;
    width: 262px;
    border-bottom: 2px solid #ccc;
    font-weight: normal;
    border-top-left-radius: 5px; /* Zaokrągla lewy górny róg */
    border-top-right-radius: 5px; /* Zaokrągla prawy górny róg */
    //width: calc(100% - 16px); /* Ustaw szerokość pola tekstowego na 100% minus marginesy */
    

   
  }
  .input-textv2:focus {
    border-bottom-color: #f1e509;
    border-bottom-width: 2px;
  }
  
  .dropdown-menu li {
    display: flex; /* Używa Flexboxa do wyrównania elementów w linii */
    align-items: center; /* Wyrównuje elementy pionowo do środka */
    margin-right: 10px;
    margin-left: 10px;
    
}
.bi-plus-circle{
    font-size: 20px;
}
.naglowek-do-przycisku{
    font-size: 18px;
    margin-left: 10px;
}
.dodawanieTaska{
    margin-bottom: 0px;
    position: absolute;
    bottom: 0px; /* Dostosuj odległość od dolnej krawędzi kolumny */
    left: 50%; /* Ustaw element na środku kolumny */
    transform: translateX(-50%); /* Skoryguj położenie w poziomie */
    width: calc(100% - 20px);

}
.column .naglowek {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 20px;
    position: relative;
}
.btn-primary{
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    
}
.naglowek{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: flex-start;
}
.button-group {
    display: flex;
    align-items: center;
}

.button-group button {
    margin-left: 5px; /* Lub dostosuj margines według preferencji */
}
.btn-warning {
    z-index: 9999; 
}
.overflow-auto {
   // max-height: 270px; /* Maksymalna wysokość dla elementu overflow-auto */
   // overflow-y: auto; /* Dodaj pionowy pasek przewijania, gdy tekst jest zbyt długi */
  //  position: absolute; /* Ustaw pozycję na absolute, aby element był w tym samym miejscu */
   // top: 70px; /* Dostosuj top na podstawie wysokości nagłówka, aby element nie zachodził na nagłówek */
   // left: 0; /* Ustaw left na 0, aby element był na lewo od kolumny */
   // width: 100%; /* Ustaw szerokość na 100%, aby element zajmował całą szerokość kolumny */
}
.column .naglowek h2 {
    white-space: nowrap; /* Zapobiega zawijaniu tekstu na nowej linii */
    overflow: hidden; /* Ukrywa nadmiarowy tekst, który nie mieści się w obszarze */
    text-overflow: ellipsis; /* Wyświetla trzy kropki, gdy tekst jest zbyt długi, aby się zmieścić */
}